<nav class="bg-gradient-to-r border-t-0 from-[#1a172a] to-[#0f1a31] text-white fixed top-0 left-0 w-full z-50 border-1 border-[#224b5d]">
  <div class="mx-auto flex justify-between items-center">
    <!-- Logo -->
    <div class="flex items-center ">
      <a routerLink="/" class="text-white text-lg font-bold tracking-wide  cursor-pointer  hover:text-white transition duration-300 px-5 py-3 border-r-1 border-[#224b5d]">Portfolio</a>
    </div>

    <!-- Navigation Links for Web -->
    <div class="hidden md:flex border-r-1 border-[#224b5d]">
      <a *ngFor="let menu of menus" (click)="smoothScroll(menu.id, menu.offset)"
        class="menuLink cursor-pointer text-gray-400 font-regular hover:text-white transition duration-300 px-5 py-3 border-l-1 border-[#224b5d]"
        [ngClass]="{'active': selectedMenu === menu.id}">{{ menu.label }}</a>
    </div>

    <div class="hidden md:flex">
      <a (click)="smoothScroll('contact', 40); closeMenu()"
        class="menuLink cursor-pointer text-gray-400 font-regular hover:text-white transition duration-300 px-5 py-3 border-l-1 border-[#224b5d]" [ngClass]="{'active': selectedMenu === 'contact'}">_contact-me</a>
    </div>
    <!-- Mobile Menu Button -->
    <button (click)="toggleMenu()" class="md:hidden text-white text-2xl focus:outline-none">
      <i [ngClass]="isMenuOpen ? 'font-light fa fa-times' : 'fa fa-bars'"></i>
    </button>
  </div>

  <!-- Mobile Navigation Menu -->
  <div [ngClass]="{'max-h-0 overflow-hidden opacity-0': !isMenuOpen, 'max-h-96 opacity-100': isMenuOpen}"
    class="md:hidden bg-purple-600 text-white flex flex-col gap-4 p-4 absolute top-full left-0 w-full shadow-md transition-all duration-500 ease-in-out">
    <a *ngFor="let menu of menus" (click)="smoothScroll(menu.id, menu.offset); closeMenu()"
      class="menuLink" [ngClass]="{'active': selectedMenu === menu.id}">{{ menu.label }}</a>
  </div>
  <div [ngClass]="{'max-h-0 overflow-hidden opacity-0': !isMenuOpen, 'max-h-96 opacity-100': isMenuOpen}">
    <a (click)="smoothScroll('contact', 40); closeMenu()"
      class="menuLink" [ngClass]="{'active': selectedMenu === 'contact'}">_contact</a>
  </div>
</nav>
