<div class="flex flex-col md:flex-row items-center gap-5 max-w-screen-xl mx-auto py-8">
  <div class="flex-shrink-0 w-150 h-150 md:w-150 md:h-150">
    <img src="../../assets/images/safir-dark-bg.png" alt="Safir Sainudeen" class="w-full h-full object-cover animate-bounce-slow">
  </div>
  <div class="flex-grow text-center md:text-left">
    <div>
       <h1 class="font-extrabold text-5xl sm:text-6xl text-gray-800 mb-4">
         Hi, I'm <br><span class="text-pink-700 text-6xl sm:text-7xl">Safir Sainudeen</span>
       </h1>
    </div>
    <div *ngFor="let item of aboutData" class="mb-6">
      <h2 class="text-3xl font-bold text-gray-800 my-3 fade-in typing-effect text-pink-800">{{ item.title }}</h2>
      <p class="text-gray-600 leading-relaxed font-regular" [innerHTML]="item.description"></p>
    </div>
    <div class="mt-10 flex justify-between md:justify-between gap-8 font-light">
      <div>
        <h3 class="text font-bold text-gray-800 mb-3">FIND ME ON</h3>
        <div class="flex gap-4 text-2xl">
          <a href="#" class="social-icon shadow rounded"><i class="fa fa-facebook"></i></a>
          <a href="#" class="social-icon shadow rounded"><i class="fa fa-linkedin"></i></a>
          <a href="#" class="social-icon shadow rounded"><i class="fa fa-twitter"></i></a>
        </div>
        <div class="gap-4 text-l mt-10">
          <h4 class="font-bold text-gray-800 mb-3">PHONE NUMBER</h4>
          <div class="flex gap-4">
            <i class="fa fa-phone"></i> +91 7591980170
          </div>
        </div>
        <div class="gap-4 text-l mt-10">
          <h4 class="font-bold text-gray-800 mb-3">EMAIL ID(s)</h4>
          <div class="flex gap-4">
            <i class="fa fa-envelope"></i> <a href="mailto:rifassafir&#64;gmail.com">rifassafir&#64;gmail.com</a>
            <i class="fa fa-envelope"></i> <a href="mailto:safirsainudeen&#64;gmail.com">safirsainudeen&#64;gmail.com</a>
          </div>
        </div>
      </div>

      <!-- Best Skills Section -->
      <div>
        <h3 class="font-bold text-gray-800 mb-3">BEST SKILLS ON</h3>
        <div class="flex gap-4 text-2xl">
          <a href="#" class="social-icon shadow rounded"><i class="fa fa-html5" aria-hidden="true"></i></a>
          <a href="#" class="social-icon shadow rounded"><i class="fa fa-code" aria-hidden="true"></i></a>
          <a href="#" class="social-icon shadow rounded"><i class="fa fa-git" aria-hidden="true"></i></a>
          <a href="#" class="social-icon shadow rounded"><i class="fa fa-css3" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
