<section id="experience" class="relative flex py-8 font-light relative flex py-10 font-light bg-gradient-to-r from-[#1a172a] to-[#0f1a31] text-white overflow-hidden border-x-1 border-b-1 border-[#224b5d]">
  <!-- Dotted Pattern Overlay -->
  <div class="absolute inset-0 bg-[radial-gradient(circle,rgba(255,255,255,0.20)_1px,transparent_1px)] [background-size:15px_15px] opacity-30"></div>
    <div class="container mx-auto">
        <h2 class="text-6xl font-bold"><span class="text-red-400 mr-4">/</span>Experience</h2>
        <h5 class="text-xl font-regular mb-6"><span class="text-red-400 mr-2">#</span>roles-achievements-and-skills-I’ve-gained-over-the-years</h5>

        <div class="justify-center flex mt-10">
          <div class="card relative border-l-6 border-dashed border-[#224b5d] ml-5">
            <div *ngFor="let exp of experiences;" class="mb-10 ml-8">
                <!-- Dot -->
                <div
                    class="absolute -left-8 w-15 h-15 bg-red-400 border-[#224b5d] rounded-full border-6 flex items-center justify-center shadow-md">
                    <span class="text-white font-bold">{{ exp.year }}</span>
                </div>

                <!-- Card -->
                <div class="bg-[#1a2441] border border-[#224b5d] hover:border-[#fff] opacity-80 ml-10 p-6 rounded-lg shadow-lg transform transition duration-500 hover:scale-102">
                    <h3 class="text-xl font-bold text-white">{{ exp.company }}</h3>
                    <p class="text-sm font-regular text-gray-200">{{ exp.role }} | {{ exp.date }}</p>
                    <div class="mt-2 font-regular text-white">
                      <p *ngFor="let desc of exp.description">{{ desc }}</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>
