/* Custom slow spin animation */
@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin-slow-2 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(-120deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 10s linear infinite;
}
.animate-spin-slow-2 {
  animation: spin-slow-2 20s linear infinite;
}


@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.animate-rotate {
  animation: rotate 10s linear infinite;
}
