<section id="work" class="flex py-10 pb-20 font-light bg-[radial-gradient(circle,rgba(0,0,0,0.1)_1px,transparent_1px)] [background-size:15px_15px]">
    <div class="container mx-auto">
        <h2 class="text-3xl font-bold"><span class="text-red-400">/</span>Projects & Work</h2>
        <h5 class="text-sm font-bold mb-6"><span class="text-red-400">#</span> A showcase of my latest and greatest work?</h5>
        <div class="relative flex w-full h-[500px] items-center justify-center">
            <div class="flex w-full h-full cursor-pointer relative">
                <a target="_blank" href="https://www.dentcarealigners.com/" class="slide relative flex-auto bg-cover bg-center transition-all duration-500 ease-in-out hover:flex-[2] before:absolute before:inset-0 before:bg-black before:opacity-90 hover:before:opacity-0" style="background-image:url('../../assets/images/works/aligners.gif')" onmouseover="document.getElementById('work-title').innerText='Dentcare Aligners'"></a>
                <a target="_blank" href="https://www.easystore.online/" class="slide relative flex-auto bg-cover bg-center transition-all duration-500 ease-in-out hover:flex-[2] before:absolute before:inset-0 before:bg-black before:opacity-90 hover:before:opacity-0" style="background-image:url('../../assets/images/works/easy-store.gif')" onmouseover="document.getElementById('work-title').innerText='Easy Store E-Commerce'"></a>
                <a target="_blank" href="#" class="slide relative flex-auto bg-cover bg-center transition-all duration-500 ease-in-out hover:flex-[2] before:absolute before:inset-0 before:bg-black before:opacity-90 hover:before:opacity-0" style="background-image:url('../../assets/images/works/qlink.gif')" onmouseover="document.getElementById('work-title').innerText='QLink Inventory Management System'"></a>
            </div>
        </div>
        <div class="text-center mt-4 text-fuchsia-700 hover:text-rose-700 text-xl font-bold" id="work-title"> <i class="fa fa-arrow-up"></i> Hover over an image</div>
    </div>
</section>
