<section id="work" class="flex py-8  font-light relative bg-gradient-to-r from-[#1a172a] to-[#0f1a31] text-white overflow-hidden border-x-1 border-b-1 border-[#224b5d]">
  <div class="absolute inset-0 bg-[radial-gradient(circle,rgba(255,255,255,0.20)_1px,transparent_1px)] [background-size:15px_15px] opacity-30"></div>
  <div class="container mx-auto">
        <h2 class="text-6xl font-bold"><span class="text-red-400  mr-4">/</span>Projects & Work</h2>
        <h5 class="text-xl font-regular mb-6"><span class="text-red-400 mr-1">#</span>a-showcase-of-my-latest-and-greatest-work?</h5>
        <div class="relative flex w-full h-[500px] items-center justify-center mt-10">
            <div class="flex w-full h-full cursor-pointer relative border-1 border-[#224b5d]">
                <a target="_blank" href="https://www.dentcarealigners.com/" class="slide relative flex-auto bg-cover bg-center transition-all duration-500 ease-in-out hover:flex-[2] before:absolute before:inset-0 before:bg-black before:opacity-90 hover:before:opacity-0" style="background-image:url('../../assets/images/works/aligners.gif')" onmouseover="document.getElementById('work-title').innerText='Dentcare Aligners'"></a>
                <a target="_blank" href="https://www.easystore.online/" class="slide relative flex-auto bg-cover bg-center transition-all duration-500 ease-in-out hover:flex-[2] before:absolute before:inset-0 before:bg-black before:opacity-90 hover:before:opacity-0" style="background-image:url('../../assets/images/works/easy-store.gif')" onmouseover="document.getElementById('work-title').innerText='Easy Store E-Commerce'"></a>
                <a target="_blank" href="#" class="slide relative flex-auto bg-cover bg-center transition-all duration-500 ease-in-out hover:flex-[2] before:absolute before:inset-0 before:bg-black before:opacity-50 hover:before:opacity-0" style="background-image:url('../../assets/images/works/qlink.gif')" onmouseover="document.getElementById('work-title').innerText='QLink Inventory Management System'"></a>
            </div>
        </div>
        <div class="text-center border-x-1 border-b-1 bg-gray-900 border-[#224b5d] text-white text-sm pt-1 font-bold uppercase" id="work-title"> <i class="fa fa-arrow-up"></i> Hover over an image</div>
    </div>
</section>
