
@import url(https://fonts.bunny.net/css?family=merriweather-sans:300,400,800);

body {
  font-family: "Merriweather Sans", sans-serif;
}

.shape {
  animation: blob 7s infinite;
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }

  33% {
    transform: translate(30px, -50px) scale(1.1);
  }

  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }

  100% {
    transform: tranlate(0px, 0px) scale(1);
  }
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}




@keyframes glow {
  0% {
    box-shadow: 0 0 1px #ff79c6, 0 0 10px #ff79c6, 0 0 1px #ff79c6, 0 0 1px #ff79c6, 0 0 1px #ff79c6, 0 0 1px #ff79c6, 0 0 1px #ff79c6;
  }
  50% {
    box-shadow: 0 0 1px #50fa7b, 0 0 10px #50fa7b, 0 0 1px #50fa7b, 0 0 1px #50fa7b, 0 0 1px #50fa7b, 0 0 1px #50fa7b, 0 0 1px #50fa7b;
  }
  100% {
    box-shadow: 0 0 1px #ff79c6, 0 0 10px #ff79c6, 0 0 1px #ff79c6, 0 0 1px #ff79c6, 0 0 1px #ff79c6, 0 0 5px #ff79c6, 0 0 5px #ff79c6;
  }
}

.hover\:glow-border:hover {
  animation: glow 2s infinite alternate;
}
