
<section id="skills"
    class="relative flex py-8 font-light bg-gradient-to-r from-[#1a172a] to-[#0f1a31] text-white overflow-hidden border-x-1 border-b-1 border-[#224b5d]">
    <!-- Dotted Pattern Overlay -->
    <div class="absolute inset-0 bg-[radial-gradient(circle,rgba(255,255,255,0.20)_1px,transparent_1px)] [background-size:15px_15px] opacity-30"></div>

    <div class="container mx-auto">
      <h2 class="text-6xl font-bold"><span class="text-red-400  mr-4">/</span>Skills & Technologies</h2>
      <h5 class="text-xl font-regular mb-6 "><span class="text-red-400 mr-1">#</span>collection-of-my-core-skills-and-specialties</h5>

        <div class="flex justify-between items-center">
          <div class="grid">
            <img src="../../assets/images/web-dev.gif" class="p-2 z-5 opacity-60 w-150 mb-10 border border-gray-600 hover:glow-border" alt="">
            <img src="../../assets/images/web-dev-2d.gif" class="p-2 ml-75 w-150 h-80 mb-10 bg-[#1e1842] opacity-60 border border-gray-600 hover:glow-border" alt="">
            <img src="../../assets/images/web-development.gif" class="p-2 w-150 h-80 bg-[#1e1842] opacity-70 border border-gray-600 hover:glow-border" alt="">
         </div>
            <div class="relative">
              <div
                  class="shape bg-pink-400 absolute top-0 -left-4 w-100 h-100 rounded-full filter blur-xl opacity-70 mix-blend-multiply blob">
              </div>
              <div
                  class="shape bg-yellow-400 absolute top-0 -right-4 w-100 h-100 rounded-full filter blur-xl opacity-70 mix-blend-multiply blob animation-delay-2000">
              </div>
              <div
                  class="shape bg-violet-400 absolute -bottom-8 left-20 w-100 h-100 rounded-full filter blur-xl opacity-70 mix-blend-multiply blob animation-delay-4000">
              </div>
              <div
                  class="shape bg-rose-400 absolute -top-50 left-150 w-70 h-70 rounded-full filter blur-xl opacity-70 mix-blend-multiply blob animation-delay-4000">
              </div>

              <div class="grid ">
                <pre class="json-viewer bg-gray-900 text-green-400 p-4 rounded-2xl opacity-85 w-150 border border-gray-700 hover:glow-border" [innerHTML]="formatJsonWithLineNumbers(filteredSkillsDataList)"></pre>
              </div>
          </div>
        </div>
    </div>
</section>
