<section id="skills" class="flex py-10 font-light">
  <div class="container mx-auto">
    <h2 class="text-3xl font-bold"><span class="text-red-400">/</span> Skills</h2>
    <h5 class="text-sm font-bold mb-6"><span class="text-red-400">#</span> List-of-key-skills</h5>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <!-- Loop through skillData array -->
      <div *ngFor="let skill of skillsDataList"
        class="relative border border-gray-200 group bg-transparent backdrop-blur-lg p-8 rounded-2xl shadow-xl flex flex-col items-center text-center transition-all duration-500 hover:scale-105 hover:shadow-purple-500/30 overflow-hidden">
        <div
          class="absolute inset-0 rounded-2xl bg-gradient-to-br from-purple-500 to-pink-500 opacity-0 transition-opacity duration-500 group-hover:opacity-20">
        </div>
        <img [src]="skill.icon" alt="Skill Icon"
          class="w-20 h-20 mb-4 transition-transform duration-500 group-hover:rotate-12 group-hover:scale-110 drop-shadow-lg">
        <h3 class="text-2xl font-bold mb-3 transition-colors duration-500 group-hover:text-purple-400">{{ skill.title }}</h3>
        <ul class="space-y-3 text-left">
          <!-- Loop through skillsList array -->
          <li *ngFor="let item of skill.skillsList" class="flex items-center transition-all duration-300 hover:text-yellow-400">
            <i [class]="item.iconClass + ' ' + item.iconColor + ' mr-3'"></i>
            {{ item.name }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- <button
  class="bg-blue-500 text-white font-semibold py-2 px-4 rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 transition-all duration-200"
  (click)="addSkill()"
>
  Add Skill
</button> -->
