<footer
    class="z-3 fixed bottom-0 left-0 w-full flex font-light bg-gradient-to-r from-[#1a172a] to-[#0f1a31] text-white overflow-hidden shadow-lg border-1 border-[#224b5d]">
    <div class="font-regular mx-auto text-emerald-500 flex justify-between items-center w-full ">
        <div class=" border-r-1  pr-5  border-[#225d3d] p-2">
            Find me in:
            <a href="https://www.linkedin.com/in/safir-sainudeen-7b1b3b1b3/" target="_blank" class="hover:text-emerald-500 p-2 px-4 text-center border-l-1 border-[#224b5d]"><i class="fa fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/safir-sainudeen-7b1b3b1b3/" target="_blank" class="hover:text-emerald-500 p-2 px-4 text-center border-l-1 border-[#224b5d]"><i class="fa fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/safir-sainudeen-7b1b3b1b3/" target="_blank" class="hover:text-emerald-500 p-2 px-4 pr-0 text-center border-l-1 border-[#224b5d]"><i class="fa fa-linkedin"></i></a>
        </div>
        <div class="text-center p-2">
          &copy; Safir | Portfolio. All Rights Reserved. | Designed and Developed by Safir Sainudeen.
      </div>
        <div class=" border-l-1 pl-4 border-[#224b5d] p-2">
           <i class="fa fa-github"></i>
        </div>
    </div>
</footer>
