@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');
@import "tailwindcss";




@font-face {
  font-family: 'Fira Code';
  src: url('https://fonts.gstatic.com/s/firacode/v11/uU9MCBoQ4YO3pXID7lU5h3g.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('https://fonts.gstatic.com/s/firacode/v11/uU9MCBoQ4YO3pXID7lU5h3g.woff2') format('woff2');
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('https://fonts.gstatic.com/s/firacode/v11/uU9MCBoQ4YO3pXID7lU5h3g.woff2') format('woff2');
  font-weight: 400;
  font-style: italic; /* Italic */
}

.font-regular {
  font-family: 'Fira Code', monospace;
}

.font-bold {
  font-family: 'Fira Code', monospace;
  font-weight: 700;
}

.font-italic {
  font-family: 'Fira Code', monospace;
  font-style: italic;
}

.striped-background {
  width: 100%;
  height: 100vh;
  background: repeating-linear-gradient(
    45deg,
    #f6f2f2,
    #f6f2f2 10px,
    #ffffff 10px,
    #ffffff 20px
  );
}

/* Thin scrollbar */
::-webkit-scrollbar {
  width: 2px; /* Adjust the width */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Scrollbar color */
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Hover effect */
}

/* For Firefox */
* {
  scrollbar-width: none;
  scrollbar-color: #888 #f1f1f1;
}

.radial-bg {
  background: radial-gradient(circle, #1a0859, #090c12);
}


.json-viewer {
  /* white-space: pre-wrap;
  word-wrap: break-word; */
  position: relative;
  padding-left: 3rem; /* Space for line numbers */
}

.json-viewer .json-key {
  color: #ec79af; /* Pink */
}

.json-viewer .json-value {
  color: #c4e5cd; /* Green */
}

.json-viewer .json-string {
  color: hsl(42, 73%, 71%); /* Yellow */
}

.json-viewer .json-number {
  color: #2f2cf5; /* Purple */
}

.json-viewer .json-boolean {
  color: #ffb86c; /* Orange */
}

.json-viewer .json-null {
  color: #8be9fd; /* Cyan */
}

.json-viewer .json-bracket {
  color: #6272a4; /* Blue */
}

.json-viewer .line-number {
  position: absolute;
  left: 0;
  width: 2rem;
  text-align: right;
  color: #6272a4; /* Line number color */
  user-select: none;
  pointer-events: none;
}

.box:hover {
  color: white;
  --border-angle: 0turn; /* For animation */
  --main-bg: conic-gradient(
    from var(--border-angle),
    #213,
    #112 5%,
    #112 60%,
    #213 95%
  );

  border: solid 1px transparent;
  border-radius: 10px;
  --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, #08f, #f03 99%, transparent);

  background:
    var(--main-bg) padding-box,
    var(--gradient-border) border-box,
    var(--main-bg) border-box;

  animation: bg-spin 5s linear infinite;
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

.box {
  margin-left: 60px;
  cursor: pointer;
  animation-play-state: paused;
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
